<li class="second w3l_search">

    <form action="#" method="post">
        <input type="search" name="search" placeholder="Search here..." required>
        <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        @*<div class="form-group-sm col-xs-12">
            <input type="radio" name="Parent" value="Parent" class="radio" />
            <input type="radio" name="Student" value="Student" class="radio" />
            <input type="radio" name="Teacher" value="Teacher" class="radio" />
        </div>*@
    </form>

</li>
