<div class="agile_info_shadow form-horizontal">
    <br />
    <br />
    <form action="ViewParents" method="get" id="sPrName">
        <div class="form-group">
            <label class="control-label col-md-2">Name</label>
            <div class="col-md-10">
                <input type="text" name="searchName" value="" placeholder="eg: Muhammad Ali Ahmad" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="javascript:document.getElementById('sPrName').submit()" class="btn btn-primary">Search</a>
            </div>
        </div>
    </form>
</div>
