@{
    ViewBag.Title = "Dashboard";
}
<!-- /agile_top_w3_grids-->
<div class="agile_top_w3_grids">
    <ul class="ca-menu">
        <li>
            <a href="">

                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">16,808</h4>
                    <h3 class="ca-sub">Parents</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">26,808</h4>
                    <h3 class="ca-sub one">Students</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">29,008</h4>
                    <h3 class="ca-sub two">Staff</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-users" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">49,436</h4>
                    <h3 class="ca-sub three">Students Present</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-users" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main four">30,808</h4>
                    <h3 class="ca-sub four">Staff Present</h3>
                </div>
            </a>
        </li>
        <div class="clearfix"></div>
    </ul>
</div>
<!-- //agile_top_w3_grids-->
<!-- /agile_top_w3_post_sections-->
<div class="agile_top_w3_post_sections">
    <div class="col-md-6 agile_top_w3_post agile_info_shadow">
        <div class="img_wthee_post">
            <h3 class="w3_inner_tittle">Latest Report</h3>
            <div class="stats-wrap">
                <div class="count_info"><h4 class="count">Rs. 130034 <span class="fa fa-money"></span></h4><span class="year">Collected Dues This Month</span></div>
                <div class="clearfix"></div>
            </div>
            <div class="stats-wrap">
                <div class="count_info"><h4 class="count">Rs. 156394 <span class="fa fa-money"></span></h4><span class="year">Remaining Dues This Month</span></div>
                <div class="clearfix"></div>
            </div>
            <div class="stats-wrap">
                <div class="count_info"><h4 class="count">50 <span class="fa fa-user"></span></h4><span class="year">Parents with Unpaid Dues</span></div>
                <div class="clearfix"></div>
            </div>
            <div class="stats-wrap">
                <div class="count_info"><h4 class="count">Rs. 1300 <span class="fa fa-money"></span></h4><span class="year">Amount Collected Today</span></div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
    <div class="col-md-6 agile_top_w3_post_info agile_info_shadow">
        <div class="img_wthee_post1">
            <h3 class="w3_inner_tittle">Logged In Timmer</h3>
            <div class="main-example">
                <div class="clock"></div>
                <div class="message"></div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<!-- //agile_top_w3_post_sections-->
<!-- /w3ls_agile_circle_progress-->
<div class="w3ls_agile_cylinder chart agile_info_shadow">
    <h3 class="w3_inner_tittle two">Monthly Collections</h3>

    <div id="chartdiv"></div>


</div>
<!-- /w3ls_agile_circle_progress-->
<!-- /chart_agile-->
<!--/prograc-blocks_agileits-->
<div class="prograc-blocks_agileits">


    <div class="col-md-6 bars_agileits agile_info_shadow">
        <h3 class="w3_inner_tittle two">This Month at a Glance</h3>
        <div class='bar_group'>
            <div class='bar_group__bar thin' label='Students Admit' show_values='true' tooltip='true' value='343'></div>
            <div class='bar_group__bar thin' label='Test Taken' show_values='true' tooltip='true' value='235'></div>
            <div class='bar_group__bar thin' label='Items Sold' show_values='true' tooltip='true' value='150'></div>
            <div class='bar_group__bar thin' label='Notifications Sent' show_values='true' tooltip='true' value='456'></div>
            <div class='bar_group__bar thin' label='Applications Received' show_values='true' tooltip='true' value='435'></div>
            <div class='bar_group__bar thin' label='Payments Received' show_values='true' tooltip='true' value='243'></div>
        </div>
    </div>
    <div class="col-md-6 fallowers_agile agile_info_shadow">
        <h3 class="w3_inner_tittle two">Recent Tests' Results</h3>
        <div class="work-progres">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Class</th>
                            <th>Subject</th>

                            <th>Teacher</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Face book</td>
                            <td>Malorum</td>

                            <td><span class="label label-danger">in progress</span></td>
                            <td><span class="badge badge-info">50%</span></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Twitter</td>
                            <td>Evan</td>

                            <td><span class="label label-success">completed</span></td>
                            <td><span class="badge badge-success">100%</span></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Google</td>
                            <td>John</td>

                            <td><span class="label label-warning">in progress</span></td>
                            <td><span class="badge badge-warning">75%</span></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>LinkedIn</td>
                            <td>Danial</td>

                            <td><span class="label label-info">in progress</span></td>
                            <td><span class="badge badge-info">65%</span></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Tumblr</td>
                            <td>David</td>

                            <td><span class="label label-warning">in progress</span></td>
                            <td><span class="badge badge-danger">95%</span></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Umair</td>
                            <td>Tahir</td>

                            <td><span class="label label-warning">in progress</span></td>
                            <td><span class="badge badge-danger">95%</span></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Umar</td>
                            <td>Tahir</td>

                            <td><span class="label label-warning">in progress</span></td>
                            <td><span class="badge badge-danger">95%</span></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Umair</td>
                            <td>Tahir</td>

                            <td><span class="label label-warning">in progress</span></td>
                            <td><span class="badge badge-danger">95%</span></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Umair</td>
                            <td>Tahir</td>

                            <td><span class="label label-warning">in progress</span></td>
                            <td><span class="badge badge-danger">95%</span></td>
                        </tr>
                    </tbody>
                </table>
                <a href="#" class="view-more-link" style="float:right">View More >></a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/amcharts")
    <!-- Chart code -->
    <script>
        var chart = AmCharts.makeChart("chartdiv", {
            "theme": "light",
            "type": "serial",
            "startDuration": 2,
            "dataProvider": [{
                "country": "USA",
                "visits": 4025,
                "color": "#FF0F00"
            }, {
                "country": "China",
                "visits": 1882,
                "color": "#FF6600"
            }, {
                "country": "Japan",
                "visits": 1809,
                "color": "#FF9E01"
            }, {
                "country": "Germany",
                "visits": 1322,
                "color": "#FCD202"
            }, {
                "country": "UK",
                "visits": 1122,
                "color": "#F8FF01"
            }, {
                "country": "France",
                "visits": 1114,
                "color": "#B0DE09"
            }, {
                "country": "India",
                "visits": 984,
                "color": "#04D215"
            }, {
                "country": "Spain",
                "visits": 711,
                "color": "#0D8ECF"
            }, {
                "country": "Netherlands",
                "visits": 665,
                "color": "#0D52D1"
            }, {
                "country": "Russia",
                "visits": 580,
                "color": "#2A0CD0"
            }, {
                "country": "South Korea",
                "visits": 443,
                "color": "#8A0CCF"
            }, {
                "country": "Canada",
                "visits": 441,
                "color": "#CD0D74"
            }, {
                "country": "Brazil",
                "visits": 395,
                "color": "#754DEB"
            }, {
                "country": "Italy",
                "visits": 386,
                "color": "#DDDDDD"
            }, {
                "country": "Taiwan",
                "visits": 338,
                "color": "#333333"
            }],
            "valueAxes": [{
                "position": "left",
                "axisAlpha": 0,
                "gridAlpha": 0
            }],
            "graphs": [{
                "balloonText": "[[category]]: <b>[[value]]</b>",
                "colorField": "color",
                "fillAlphas": 0.85,
                "lineAlpha": 0.1,
                "type": "column",
                "topRadius": 1,
                "valueField": "visits"
            }],
            "depth3D": 40,
            "angle": 30,
            "chartCursor": {
                "categoryBalloonEnabled": false,
                "cursorAlpha": 0,
                "zoomable": false
            },
            "categoryField": "country",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0

            },
            "export": {
                "enabled": true
            }

        }, 0);
    </script>
    <!-- Chart code -->

    <!-- //amcharts -->
    <!-- //js -->
    <!--/flip clock-->
    <script type="text/javascript">
        var clock;

        $(document).ready(function () {

            clock = $('.clock').FlipClock({
                clockFace: 'HourlyCounter'
            });
        });
    </script>
    <!--//flip clock-->
}
